 	
 		

          <div class="media">
                                    <div class="pull-left" >
                                      
 	<%= message.user.name%> :
                                    </div>
                                    <div class="media-body">
                                      <p><%= message.content %></p>

                                       <small class="text-muted"><%=message.created_at.strftime("%H:%M") %></small>
                                       
                                    </div>
                                </div>